<% require 'csv' %>
<% csv_data = CSV.table('app/views/schedules/ranking.csv', headers: true) %>
<div class='container text-center'>
  <h1>世界ランキング</h1>


  <%= form_with url: 'selectranking' do |f| %>
    <ul class='list-unstyled form-group m-auto' >
      <li>
        <%= f.label "プール" %>
      <%= f.select :pool,
        { "全て": :none, "A": "A", "B": "B", "C": "C", "D": "D" }, {},{ class: 'form-control drop-item' } %>
    </li>
    <%= f.submit "絞り込み", class: 'btn btn-block btn-primary form-control' %>
    </ul>
  <% end %>

  <%= render partial: "rankingtable" %>
