<div class='container text-center'>
  <h1>試合結果</h1>

  <% @result = Result.first %>
  <table class='m-auto'>
    <thead>
      <tr>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.member1 %></td>
          <td><%= result.score1 %></td>
          <td>-</td>
          <td><%= result.score2 %></td>
          <td><%= result.member2 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
