<p><%= @user.name %>様</p>
<h2><%= "#{@schedule[6]}対#{@schedule[7]}" %> 試合開始１時間前となりました</h2>
<p>放送局は
<% if @schedule[8] == 1 %>
  <% if @schedule[9] == 1 %>
    <%= "NHKと日本テレビです" %>
  <% else %>
    <%= "NHKです" %>
  <% end %>
<% else %>
  <% if @schedule[9] == 1 %>
    <%= "日本テレビです" %>
  <% else %>
    <%= "ありません" %>
  <% end %>
<% end %>
</p>
